.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  padding: 0;
  margin: 0;
}

.resume-btn{
  text-align: center;
  right: 50px;
  position: absolute;
  font-size: 16px !important;
  font-weight: 600 !important;
  border: none;
  color: black !important;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
}